**Задача 1**. Дано слово из латинских букв. Напишите скрипт, который выводит на экран букву из середины слова (если число букв нечетное). Если букв четное число, то на экран выводятся две буквы из середины.  

Пример: для 'test' должно выводится 'es', для 'testing' - 't'

In [1]:
word = input("Введите слово: ")
lenword = len(word)/2

if lenword % 2 == 0:
    x = int(lenword-1)
    y = x+2
    index = word[x:y: ]
    print(index)
elif lenword > 0:
    x = int(lenword-0.5)
    index = word[x]
    print(index)

Введите слово: dfgs
fg

**Задача 2**. Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек (их число может варьироваться):

In [30]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! "Познакомить" пары нам поможет функция zip, а в цикле распакуем zip-объект и выведем информацию в виде:

Идеальные пары:  
Alex и Emma  
Arthur и Kate  
John и Kira  
Peter и Liza  
Richard и Trisha

**Внимание! Если количество людей в списках будет не совпадать, то мы никого знакомить не будет и выведем пользователю предупреждение, что кто-то может остаться без пары!**

In [52]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

if len(boys) == len(girls):
    couple = list(zip(boys,girls))
    print("Идеальные пары: ")
    for people in couple:
        print(f'{people[0]} и {people[1]}')
else:
    print("кто-то может остаться без пары!")

Идеальные пары:
Peter и Kate
Alex и Liza
John и Kira
Arthur и Emma
Richard и Trisha

**Задача 3**. У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за недельный период по странам.
Необходимо написать код, который рассчитает среднюю температуру за неделю в Цельсиях для каждой страны.

In [8]:
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]

for city in countries_temperature :
    print(f'{city[0]:}\n {"Средняя температура за неделю в Цельсиях"}', (sum(city[1])/len(city[1])-32)*5/9)

Thailand
 Средняя температура за неделю в Цельсиях 23.85714285714285
Germany
 Средняя температура за неделю в Цельсиях 13.71428571428571
Russia
 Средняя температура за неделю в Цельсиях 3.714285714285717
Poland
 Средняя температура за неделю в Цельсиях 11.857142857142856

**Задача 4.** Дан поток логов по количеству просмотренных страниц для каждого пользователя. Список отсортирован по ID пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. 
Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.

In [146]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

l = []
sum_ = 0
for el in stream:
    el_split = el.split(',')
    el_split = el_split[1:]
    users = el_split[0]
    l.append(users)
    views = int(el_split[1])
    sum_+= views
l = set(l)
print("Среднее количество просмотров для пользователя: ", sum_/len(l) )

Среднее количество просмотров для пользователя:  23.25

**Задача 5**. Дана статистика рекламных кампаний по дням. Напишите алгоритм, который по паре дата-кампания ищет значение численного столбца. 
Т. е. для даты '2018-01-01' и 'google' нужно получить число 25. 
Считайте, что все комбинации дата-кампания уникальны.

In [69]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]
for i in stats:
    print(i[0], i[1])

2018-01-01 google
2018-01-01 yandex
2018-01-01 market
2018-01-02 google
2018-01-02 yandex
2018-01-02 market
2018-01-03 google
2018-01-03 yandex
2018-01-03 market

In [153]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]

check = True

date = input("Введите дату в формате гггг-мм-дд: ")
company = input("Введите название компании строчными буквами: ")

for i in stats:
    if date==i[0] and company==i[1] in i:
        print(i[2])
        check = False
if check == True:
    print("Нет соответствий")

Введите дату в формате гггг-мм-дд: 2018-01-03
Введите название компании строчными буквами: market
1764

**Задача 6**. Дан список вида:

In [148]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]
data[3]

[13, 53, 34, 35]

Напишите код, который будет вычислять сумму элементов на диагонали. Т. е. 13+32+23+35.  
Список может быть любой длины, но всегда является "квадратным" (количество элементов во вложенных списках равно их количеству).

In [152]:
y = -1
sum_y = 0
for i in data:
    y += 1
    sum_y += i[y]
print(sum_y)

103